<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>

<style>
.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}
</style>

</head>
<body>
	<h2 th:inline="text">
		<a th:href="@{/delete-article}">Welcome,
			[[${#httpServletRequest.remoteUser}]]!</a>
	</h2>

	<div class="container-fluid">

		<div class="page-title">
			<h3>
				<span class="fa fa-arrow-circle-o-left"></span> Articles
			</h3>
		</div>

		<div class="row">
			<table class="table datatable">
				<thead>
					<tr>
						<th>Naslov</th>
						<th>Autor</th>
						<th>Broj glasova</th>
						<th>Glasovanje</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="article : ${articleList}">
						<td><a target="_blank" th:href="@{${article.url}}"> <i
								th:text="${article.naslov}">Text ...</i>
						</a></td>
						<td th:text="${article.autor}">Text ...</td>
						<td th:text="${article.brojglasova}">Text ...</td>
						<td>
							<form th:action="@{/articles}" th:object="${uservote}"
								method="post">

								<input type="hidden" name="articleid" th:value="${article.id}"
									id="articleid" /> 
									
								<input type="hidden" name="votevalue"
									th:id="${'votevalue' + article.id}" />
									
								<input type="hidden" name="userarticleid" th:value="${#request.userPrincipal.principal.username + article.id}"
									id="userarticleid" th:attr="name='userarticleid'"/>
									
								<input type="hidden" name="korisnik" th:value="${#request.userPrincipal.principal.username}"
									id="articleid" th:attr="name='korisnik'"/> 

								<button
									th:onclick="'javascript:setTimeout(disableUp(\''+${article.id}+'\'), 1);'"
									type="submit" name="voteup" th:value="up" th:attr="name='vote'"
									th:id="${'up' + article.id}">+</button>

								<button
									th:onclick="'javascript:setTimeout(disableDown(\''+${article.id}+'\'), 1);'"
									type="submit" name="votedown" th:value="down"
									th:attr="name='vote'" th:id="${'down' + article.id}">-</button>
							</form>
						</td>

					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="form-group col-md-1">
					<select class="form-control pagination" id="pageSizeSelect">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>
					</select>
				</div>
				<div th:if="${articleList.totalPages != 1}"
					class="form-group col-md-11 pagination-centered">
					<ul class="pagination">
						<li th:class="${articleList.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/articles(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
						</li>
						<li th:class="${articleList.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{/articles(pageSize=${selectedPageSize}, page=${articleList.number})}">&larr;</a>
						</li>
						<li
							th:class="${articleList.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
							<a class="pageLink"
							th:href="@{/articles(pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"></a>
						</li>
						<li
							th:class="${articleList.number + 1 == articleList.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/articles(pageSize=${selectedPageSize}, page=${articleList.number + 2})}">&rarr;</a>
						</li>
						<li
							th:class="${articleList.number + 1 == articleList.totalPages} ? disabled">
							<a class="pageLink"
							th:href="@{/articles(pageSize=${selectedPageSize}, page=${articleList.totalPages})}">&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"
		integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
		crossorigin="anonymous"></script>


	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			changePageAndSize();
		});

		function changePageAndSize() {
			$('#pageSizeSelect').change(
					function(evt) {
						window.location.replace("/articles?pageSize="
								+ this.value + "&page=1");
					});
		}
		function disableUp(id) {
			alert("Glas +1 zabilježen!");
			document.getElementById("votevalue" + id).value = "up";
			//document.getElementById('up' + id).disabled = 'true';
			//return true;
		}
		function disableDown(id) {
			alert("Glas -1 zabilježen!");
			document.getElementById("votevalue" + id).value = "down";
			//document.getElementById('down' + id).disabled = 'true';
			//return true;
		}
		function validate(form) {
			if (form.votevalue.value == 'up') {
				form.voteup.disabled = true;
			} else {
				form.votedown.disabled = true;
			}
			return true;
		}

		/*]]>*/
	</script>

	<form th:action="@{/add-article}" method="get">
		<input type="submit" value="Add Article" />
	</form>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

</body>
</html>